body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    overflow-x: hidden;
}
.herosection{
    background-image: url(../images/hero_banner/hero3.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 623px;
    position: relative;
    background-color: #464646;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(2px);
}
.header {
    display: flex;
    position: absolute;
    margin: 0 auto;
    padding: 30px;
    top: 0;
    left: 17%;
}
.CollegeLogo > h4 {
    color: #fff;
}
.CollegeSpecification > ul li {
    float: left;
    padding: 0 0 0 133px;
    list-style: none;
}
.CollegeSpecification > ul >li > a {
    color: #fff!important;
    text-shadow: 2px 2px #000000;
    text-decoration: none;
    font-weight: 700;
}
.heroContent {
    padding-top: 3%;
    padding-left: 33px;
    margin: 0 auto;
    position: absolute;
    padding-bottom: 5%;
    top: 5%;
}
.heroContent > h1 {
    font-size: 96px;
    color: #fff;
    text-shadow: 2px 2px #000000;
}
.subhero-image > img {
    width: 100%;
}
.subhero-image {
    color: #fff;
    padding: 2px;
}
.subhero-image > h1 {
    background: black;
    font-size: 21px;
    margin: 0;
    font-weight: 600;
    padding: 15px 0 0 0;
}
.subhero-image > i {
    font-size: 18px;
    background: black;
    display: block;
}
.sectiontwo {
    padding:0;
}
.sectiontwo-content > h1 {
    font-weight: 900;
}
.sectiontwo-content > h5 {
    color: #656565;
    font-size: 27px;
}
.sectiontwo-content > p {
    color: gray;
}
.sectiontwo-content > h2 {
    font-size: 47px;
    font-weight: 600;
}
.sectiontwo-content > div {
    display: flex;
    padding: 30px 0 0 0;
}
.sectiontwo-content > div h2{
    font-size: 47px;
    font-weight: 600;
}
.sectiontwo-content > div h3 {
    font-size: 33px;
    margin-left: 20px;
}
.tourimage{
    background-image: url(../images/tour-image/tour.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height:246px;
    box-shadow: 0 11px 40px 0 rgba(74, 144, 226, 0.13);
    background-color: #464646;
    width: 121%;
    margin: 0 0 0 -30px;
}
.tourimage > h4 {
    color: #fff;
    text-shadow: 2px 2px #000000;
    font-size: 47px;
    background-color: black;
    padding-left: 18%;
}
.sectiontwo-content > h1 {
    font-size: 21px;
}
.sectiontwo-content > h1 {
    font-size: 21px;
}
.sectiontwo-content {
    height: 246px;
    padding: 22px;
    border-right: 1px solid gray;
}
.sectionthree {
    background-color: #0f325f;
    color: #fff;
}
.sectionthree-content {
    margin-left: 27%;
}
.sectionthree-content > h1 {
    font-size: 80px;
    padding: 30px 0 0 0;
}
.visiting-content {
    display: flex;
}
.visiting-content-img > img {
    width: 100%;
}
.visiting-content > p {
    font-weight: bold;
    padding: 0 27px 0 2%;
    line-height: 31px;
    text-align: end;
}
.visiting-content-img > h1 {
    font-size: 34px;
    padding: 5% 0 0 0;
    font-weight: 800;
}
.visiting-content-img > p {
    font-size: 23px;
}
div#gridcolorchange {
    background-color: #002854;
    padding: 30px 0 0 3%;
}
.number-list h1 {
    margin: 0;
    font-size: 84px;
}
.number-list >p {
    font-size: 20px;
    font-weight: 900;
}
.sectionfour{
    background-image: url(../images/sectionfour/sectionfour.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 623px;
    position: relative;
}
.sectionfour-content-two > img {
    height: 515px;
    width: 100%;
}
.sectionfour-content-text > h1 {
    font-size: 80px;
}
.sectionfour-content-text > h2 {
    font-size: 75px;
    margin: -30px 0 0 6px;
}
.sectionfour-content-two > div {
    background-color: red;
    width: 28%;
    padding: 8px;
    position: absolute;
    top: 75%;
    right: 5%;
    border-radius: 14px;
}
.sectionsix-content-one > h1 {
    font-size: 60px;
    margin: 0;
}
.sectionsix-content-two > p {
    font-size: 15px;
    margin: 0px;
}
.sectionsix-content-three {
    padding: 16% 0 0 8%;
}
.sectionsix-content-three a {
    margin: 0 0 0 60px;
}

.campus-content-img {
    background-color: rgba(0, 0, 0, 0.43137254901960786);
}
.campus-content-img > h1 {
    font-size: 16px;
    font-weight: bold;
    padding: 10px 5px 0 5px;
    text-transform: uppercase;
}
.campus-content-img > p {
    font-size: 17px;
    padding: 0 4px 5px 7px;
}
.sectionfive-content > h1 {
    color: #fff;
    font-size: 70px;
    text-shadow: 1px 2px #000000;
}
.sectionfour-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 0 50px 0;
    color:#fff;
}
.campus-content-img >img {
    width: 100%;
}
.sectionfive{
    background-image: url(../images/sectionfive/sectionfive.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 711px;
}
.sectionfive-content-one {
    background-color: rgba(255, 255, 255, 0.55);
}
.sectionfive-content-one p {
    font-size: 17px;
    text-align: justify;
    padding: 10px;
}
.sectionfive-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 0 0 0;
}
.sectionsix{
    background-color: #0f325f;
    color:#fff;
}
.sectionsix-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
}
.footer{
    background-color: #002854;
    color:#fff;
}
.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 35px 0 35px 0;
}
h6 {
    margin: 0px;
}
.footer-content > ul li {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 30px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    font-size: 13px;
    margin-left: 0px;
}
.subscribeform > a {
    background-color: #134b91;
    padding: 6px 26px;
    color: #fff;
    font-weight: 900;
    text-decoration: none;
}
.subscribeform {
    margin: 4% 0 0 0;
}
ul{
    margin:0;
    padding:0;
}
@media (max-width: 2000px), (min-width:1180px){
    .header{
        padding: 20px 0 0 39px;
        left: 15%;
    }

}
@media (max-width: 1580px), (min-width: 1181px) {
    .visiting-content-img > h1{
        font-size: 15px;
    }

}
@media (max-width: 1180px), (min-width: 990px) {
    .header{
        padding: 20px 0 0 39px;
        left: 15%;
    }
    .visiting-content-img > h1{
        font-size:25px;
    }
    .sectiontwo-content > h5{
        font-size: 18px;
    }
    .sectiontwo-content > div h2{
        font-size: 20px
    }
    .sectiontwo-content > div h3{
        font-size: 24px;
    }
}
@media screen and (max-width: 989px){
    .header{
        padding: 24px 0 0 44px;
        left: 0;
    }
    .CollegeSpecification > ul li{
            padding: 4px;
            margin: 0 0 0 47px;
    }
    .heroContent{
            padding: 30px 0 0 37px;
    }
    .visiting-content-img > h1{
        font-size:25px;
    }
    .heroContent > h1{
        font-size: 70px;
    }
    .herosection{
        height:495px;
    }
    .sectiontwo-content > h5{
        font-size: 30px;
    }
    .sectiontwo-content > div h2{
        font-size: 40px
    }
    .sectiontwo-content > div h3{
        font-size: 30px;
    }
    .sectionthree-content{
        margin-left: 0%;
    }
    .sectionfive{
        height: auto;
        background-position: center;
    }
    .sectionsix-content-three a{
        margin: 10px;
    }
    .sectionthree-content > h1{
        font-size: 31px;
        padding: 0 0 0 15px;
    }
    .sectionthree-content-two > h2 {
        font-size: 17px;
    }
    .tourimage{
        width:108%;
    }
}
@media screen and (max-width: 767px){
    .sectionfour{
        height: 1127px;
    }
    .heroContent > h1{
        font-size: 54px;
        padding: 9% 0 0 0%;
    }
    .subhero-image > h1{
        font-size:11px;
    }
    .subhero-image > i{
        display: none;
    }
    .sectiontwo-content > h5{
        font-size:20px;
    }
    .sectiontwo-content > div h3{
        font-size:20px;
    }
    .tourimage{
        width:108%;
    }
    .number-list >p{
        font-size: 19px;
    }
}
@media screen and (max-width: 576px){
    .sectionthree-content-two > h2{
        font-size:11px;
    }
    .number-list h1 {
        font-size: 27px;
    }
    .number-list >p{
        font-size:8px;
    }
    .sectionfive {
        height: auto;
        background-position: center;
    }
    .sectionfive-content > h1{
        font-size: 31px;
        margin: 11px;
    }
}
@media (max-width: 2000px), (min-width:575px){
    .mobiledevice{
        display: none;
    }
}
@media screen and (max-width: 574px){
    .subhero{
        display:none;
    }
    .heroContent > h1{
        display: none;
    }
    .heroContent {
        padding: 38% 0 0 28%;
    }
    .heroContent > h1{
        font-size:34px;
        padding:7% 0 0 9%;
    }
    .mobiledevice{
        display:block;
    }
    .mobiledevice > h1 {
        font-size:64px;
        color: #fff;
        text-shadow: 2px 2px #000000;
    }
    .visiting-content-img > img{
        width:100%;
    }
    .visiting-content-img > h1{
        font-size:13px;
    }
}